{% extends "learning_logs/base.html" %}

{% block content %}

    <p>Topic: {{ topic }}</p>

    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                {# Display timestamps in the format January1, 2018 23:00. #}
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                {# Display full text including line breaks in a format understood by browsers. #}
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}